body {
  flex-direction: row;
}

/* Header */
header {
  position: absolute;
  z-index: 1000;
}

.hamburger {
    display: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;;
    margin: 0;
    top: 25px;
    list-style: none;
    text-transform: uppercase;
    gap: 0;
    width: 95%;
}

.nav-links a {
  font-size: 1.2em;
}

nav ul {
    font-size: 1.2em;
}

main section[id]::before {
    content: "";
    display: block;
    height: 80px;
    visibility: hidden;
}

/* Aside */
aside {
  width: 40%;
  border-right: 10px double white;
  box-sizing: border-box;
  margin-top: 80px;
  margin-bottom: 60px;
}

.profilepicture {
  margin-top: 50px;
  margin-bottom: 80px;
}

aside h2 {
  margin-top: 0;
}

aside p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
}

.mobile-heading {
  display: none;
}

.desktop-heading {
  display: block;
}


ul li {
  font-size: 1.2em;
}

.reference {
  font-size: 1.5em;
}

aside button {
  font-size: 1.1em;
  width: 200px;
}

/* Main */
main {
  width: 400px;
  border-top: 4px solid white;
  margin-bottom: 70px;
  border-left: 0px;
  padding-left: 40px;
  padding-right: 40px;
}

main h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 180px;
  font-size: 3em;
}

main h2 {
  font-size: 2.5em;
}

main h3 {
  font-size: 2em;
  margin-top: 0;
}

main h4 {
  font-size: 1.2em;
  hyphens: none;
}

main p {
  font-size: 1.2em;
  hyphens: none;
}

.timeline-item {
  padding: 0 40px;
}

/* Footer */
footer {
  align-items: flex-end;
  height: 50px;
}

footer img {
  margin-left: 40px;
  margin-right: 40px;
}
