body {
  flex-direction: row;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Sätt en höjd */
  background-color: #fff;
  z-index: 1000;
}

main, aside {
  margin-top: 85px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f3f3;
  padding: 1rem;
  z-index: 1000; 
  height: 50px; 
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    position: absolute; 
    top: 10px;
    height: auto;
    list-style: none;  
}

.nav-links a {
  font-size: 1.5rem;
}

.hamburger {
    display: none; 
}

nav ul {
    font-size: 2em; 
}

[id]::before {
  content: "";
  display: block;
  height: 90px;
  visibility: hidden;
}

aside {
  width: 30%;  
  border-right: 10px double white;
  box-sizing: border-box;
  margin-bottom: 60px;
}
  
aside h2 {
  margin-top: 50px;
  font-size: 2em;
}
  
aside p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
}
  
ul li {
  font-size: 1.2em;
}

.reference {
  font-size: 1.5em;
}

aside button {
  font-size: 1.1em;
  width: 200px;
}

main {  
  width: 400px;
  border-top: 4px solid white;
  margin-bottom: 70px;
  border-left: 0px;
  padding-left: 40px;
  padding-right: 40px;
}
  
main h1 {
  margin-bottom: 0px; 
  font-size: 3em;
}
  
main h2 {
  margin-top: 5px;
  font-size: 2.5em;
}
  
main h3 {
  font-size: 2em;
  margin-top: 80px;
}
  
main h4 {
  font-size: 1.2em;
  hyphens: none;
}
  
main p {
  font-size: 1.2em;
  hyphens: none;
}

.timeline-item {
  padding: 0 40px;
}
  
footer {
  align-items: flex-end;          
  height: 50px;                 
}
  
footer img {
  margin-left: 40px;
  margin-right: 40px;                  
}
