body {
    font-family: 'El Messiri', sans-serif;
    display: flex; 
    min-height: 100vh; 
    margin: 0; 
  }
  
  aside {
    width: 35%; 
    background-color: #f4f4f4; 
    padding: 10px; 
    border-right: 10px double white;
    box-sizing: border-box;
    border-left: 4px solid white;
    border-top: 4px solid white;
  }
  
  aside img {
    width: 85%;
    border-radius: 50%;
    display: block; 
    margin: 0 auto;
  }

  aside h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2em;
  }
  
  aside h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5em;
  }

  .contact-info {
    text-transform: uppercase;
  }

  aside h3 {
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  
  aside p {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  aside button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px; 
    background-color: #e0e0e0;
    border: none; 
    border-radius: 5px; 
    color: #333;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 0px;
    transition: background-color 0.3s ease; 
  }
  
  aside button:hover {
    background-color: #ccc;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    gap: 10px;
  }
  
  main {
    flex-grow: 1;
    background-color: #e0e0e0; 
    padding: 10px; 
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    width: 400px;
    border-right: 4px solid white;
    border-top: 4px solid white;
    margin-bottom: 70px;
  }
  
  main h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  main h3 {
    margin-top: 0px;
    font-size: 1.5em;
    text-align: center;
  }
   
  main p {
    margin-top: 0px;
  }

  main a {
    color: black;
    font-weight: bold;
  }
  
  footer {
    display: flex;
    justify-content: space-evenly;  
    align-items: flex-end;          
    padding: 0px;
    background-color: #f4f4f4;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 10px double white;
    height: 50px;  
    display: block; 
    text-align: center;        
    padding-top: 10px;
    border-bottom: 4px solid white; 
    border-left: 4px solid white;       
    border-right: 4px solid white;
  }
  
  footer .reference {
    color: black;
    width: 100%;
    text-align: center; 
    margin-bottom: 10px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block; 
    margin: 5px;
  }
  
  /* Kontaktikoner */
  footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;                
  }